.imgProfile {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  right: 2%;
  top: 3%;
  box-shadow: 0px 1px 22px 1px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 1px 22px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 1px 22px 1px rgba(0, 0, 0, 0.68);
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgb(42, 157, 203) 0%,
    rgb(67, 41, 123) 100%
  );
  align-items: center;
  width: 60%;
  max-height: 90%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 26px 14px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 0px 26px 14px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 26px 14px rgba(0, 0, 0, 0.68);
}
.buttons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.buttonOperation {
  display: flex;
  justify-content: center;

  align-items: center;
  margin: 5%;
  border-radius: 15px;
  background-color: #3f37c9;
  color: rgba(255, 255, 255, 0.849);
  height: 4vh;
  width: 7vw;
  cursor: pointer;
}
.containerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgb(42, 157, 203) 0%,
    rgb(67, 41, 123) 100%
  );
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section span {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
}
.list {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  cursor: pointer;
  width: 50vw;
}
.li {
  display: flex;
  gap: 2rem;
}
.buttonOperationdelete {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(216, 5, 5, 0.722);
  color: rgba(255, 255, 255, 0.849);
  height: 4vh;
  width: 7vw;
  cursor: pointer;
}
.operation {
  font-size: 1.5rem;
}
.logout {
  position: absolute;
  right: 2.4%;
  top: 15vh;
  background-color: rgba(216, 5, 5, 0.722);
  color: rgba(255, 255, 255, 0.849);
  border-radius: 15px;
  cursor: pointer;
}
.operations {
  overflow-y: auto;
  overflow-x: none;
}
