.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background: rgb(49, 190, 247); */
  background: linear-gradient(
    135deg,
    rgb(42, 157, 203) 0%,
    rgb(67, 41, 123) 100%
  );
}
.login p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.login section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 30%;
  background: linear-gradient(
    135deg,
    rgba(67, 41, 123, 0.805) 100% rgb(42, 157, 203) 0%
  );
  height: 25%;
  border-radius: 15px;
  box-shadow: 0px 0px 26px 14px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 0px 0px 26px 14px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 0px 26px 14px rgba(0, 0, 0, 0.68);
}
